/* Options Framework Admin Styles */

.updated {
	max-width: 764px;
	margin-bottom: 0 !important;
}
#optionsframework-metabox { 
	padding-top: 0!important;
}
#optionsframework {
	position: relative;
	z-index: 0;
	max-width: 780px;
	background: #fff;
	border-radius: 0;
	border-top: 0;
	border-color: #ccc;
}
#optionsframework h3 {
	display: none;
}
#optionsframework p {
	margin-bottom:0;
	padding-bottom:10px;
	line-height: 1.4em;
}
#optionsframework .section {
	padding: 20px 20px;
	border-bottom: 1px solid #ccc;
}
#optionsframework .group {
	padding-bottom: 0;
}
#optionsframework .section .heading {
	padding: 10px 0;
	font-size: 13px; padding: 0; 
	margin: 0 0 8px;
	border-bottom-width: 0;
}
#optionsframework .section .controls {
	float: left;
	min-width: 350px;
	width: 54%;
	padding-right: 2%;
}
#optionsframework .section .explain {
	margin-top: 7px;
	max-width: 38%;
	float: left;
	font-size: 12px;
	line-height: 16px;
	color: #888;
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}
#optionsframework .section-checkbox .controls {
	width: 98%;
}
#optionsframework .section-checkbox .explain {
	max-width: 94%;
	margin-top: 1px;
}
#optionsframework .of-input {
	width: 100%;
}
#optionsframework .controls select, #optionsframework .controls textarea {
	margin-bottom: 10px;
	width: 100%;
}
#optionsframework .section-radio label, #optionsframework .section-multicheck label {
	float: left;
	max-width: 90%;
	line-height: 16px;
	margin-bottom: 5px;
}
#optionsframework input.checkbox, #optionsframework input.of-radio {
	width: 30px;
	margin-top: 2px;
	float: left;
	clear: both;
}
#optionsframework .controls label.typography-size {
	clear: left;
	float: left;
	margin-top: 8px;
	margin-left: 65px;
}
#optionsframework .controls .of-typography-size {
	width:80px;
	margin-left:10px;
	float:left;	
}
#optionsframework .controls label.typography-lineheight {
	clear: left;
	float: left;
	margin-top: 8px;
 	margin-left: 28px;
}
#optionsframework .controls .of-typography-lineheight {
	width:80px;
	margin-left:10px;
	float:left
}
#optionsframework .controls label.typography-style {
	clear: left;
	float: left;
	margin-top: 8px;
 	margin-left: 36px;
}
#optionsframework .controls .of-typography-style {
	width:150px;
	margin-left:10px;
	float:left
}
#optionsframework .controls label.typography-uppercase {
	clear: left;
	float: left;
	margin-top: 8px;
 	margin-left: 30px;
}
#optionsframework .controls .of-typography-uppercase {
	margin-left:10px;
	margin-top: 5px;
	float:left;
	width: auto!important;
}
#optionsframework .controls .of-typography-unit {
	width:50px;
	margin-left:5px;
	float:left
}
#optionsframework .controls .of-typography-face {
	width:250px;
	float:left
}
#optionsframework .of-background-properties {
	clear:both;
	margin-top: 18px;
}
#optionsframework .controls .of-background-repeat {
	width:125px;
	margin-right:5px;
	float:left
}
#optionsframework .controls .of-background-position {
	width:125px;
	margin-right:5px;
	float:left
}
#optionsframework .controls .of-background-attachment {
	width:125px;
	margin-right:5px;
	float:left
}
#optionsframework .section-background .wp-picker-container {
	margin-bottom:10px;
}
#optionsframework .controls .of-radio-img-img {
	border:3px solid #f9f9f9;
	margin:0 5px 10px 0;
	display:none;
	cursor:pointer;
	float:left;
}
#optionsframework .controls .of-radio-img-selected {
	border:3px solid #ccc
}
#optionsframework .controls .of-radio-img-img:hover {
	opacity:.8;
}
#optionsframework .controls .of-border-width {
	width:80px;
	float:left
}
#optionsframework .controls .of-border-style {
	width:120px;
	float:left
}
#optionsframework .hide {
	display:none;
}
#optionsframework .of-option-image {
	max-width:340px;
	margin:3px 0 18px 0;
}
#optionsframework .mini .controls select, #optionsframework .section .mini .controls {
	width: 140px;
}
#optionsframework .mini .controls input, #optionsframework .mini .controls {
	min-width:140px;
	width: 140px;
}
#optionsframework .mini .explain {
	max-width:74%;
}

/* Editor */

#optionsframework .section-editor .explain {
	max-width: 98%;
	float:none;
	margin-bottom:5px;
}

/* Image Uploader */

#optionsframework .controls input.upload {
	width:80%;
}
#optionsframework .controls input.upload_button {
	float:right;
	border-color:#BBBBBB;
	cursor:pointer;
}
#optionsframework .controls input.upload_button:hover {
	border-color:#666666;
	color:#000;
}
#optionsframework .screenshot {
	float:left;
	margin-left:1px;
	position:relative;
	width:344px;
	margin-top:3px;
}
#optionsframework .screenshot img {
	background:#FAFAFA;
	border-color:#ccc #eee #eee #ccc;
	border-style:solid;
	border-width:1px;
	float:left;
	max-width:334px;
	padding:4px;
	margin-bottom:10px;
}
#optionsframework .screenshot .remove-image {
	background:url("../images/ico-delete.png") no-repeat;
	border:medium none;
	bottom:4px;
	display:block;
	float:left;
	height:16px;
	padding:0;
	position:absolute;
	left:-4px;
	text-indent:-9999px;
	width:16px;
}
#optionsframework .screenshot .no_image .file_link {
	margin-left: 20px;
}
#optionsframework .screenshot .no_image .remove-button {
	bottom: 0;
}
#optionsframework .reset-button {
	float:left;
	cursor:pointer;
}

/* Bottom Section */

#optionsframework-submit {
	padding: 7px 10px;
	border-top: 1px solid #ECECEC;
	background-color: #F1F1F1;
    background-image: -moz-linear-gradient(center top , #F9F9F9, #ECECEC);
}
#optionsframework .button-primary {
	float:right;
}
#optionsframework .section:after {
	content: "";
	display: table;
}
#optionsframework .section:after {
	clear: both;
}

/* OptionsFramework Tabs */

h2.nav-tab-wrapper, h3.nav-tab-wrapper {
	max-width: 782px;
	padding-right: 0;
}
h2 .nav-tab {
	font-size: 14px;
	font-weight: bold;
	background-color: #f6f6f6;
}
h2 .nav-tab-active { 
	color: #D54E21;
	background-color: #fff;
}

/* Input fields */

#optionsframework textarea,
#optionsframework input[type="text"],
#optionsframework input[type="password"],
#optionsframework input[type="file"],
#optionsframework select { 
	background-color: #f9f9f9!important; 
	color: #666; 
	border: 3px solid #e0e0e0!important;
}
#optionsframework textarea:focus,
#optionsframework input[type="text"]:focus,
#optionsframework input[type="password"]:focus,
#optionsframework select:focus { 
	background-color: #fff!important;
}
#optionsframework textarea,
#optionsframework input[type="text"],
#optionsframework input[type="password"],
#optionsframework input[type="file"] { 
	padding: 5px 5px 4px!important;
}

/* Sidebars Manager */
.optionsframework-unipress-sidebars-manager #optionsframework-submit {
	display: none; 
}
#optionsframework #section-sidebar_create .controls,
#optionsframework #section-sidebar_list .controls { 
	width: 100%;
}
#optionsframework #section-sidebar_create #sidebar_create_text { 
	width: 200px; 
}
#optionsframework #section-sidebar_create .button2 { 
	width: 64px!important; 
	height: 27px!important; 
	min-width: 0!important; 
	margin-left: 15px; 
	cursor: pointer; 
	border-radius: 3px; 
	background-color: #fff; 
	color: #444; 
	border: 1px solid #bbb; 
}
.optionsframework-unipress-sidebars-manager .wp-list-table td { 
	padding-top: 9px;
	padding-bottom: 9px;
}
input.remove-button { 
	width: 16px!important; 
	padding: 0;
	margin: 0;
	border: 0;
	background: url("../images/ico-delete.png") no-repeat;
	text-indent: -9999px;
	color: transparent;
	cursor: pointer;
	outline: none; 
}

/* Fonts Manager */
.section-fonts_update_google .controls { 
	width: 16%!important; 
	min-width: 100px!important; 
}
.section-fonts_update_google .explain { 
	max-width: 80%!important; 
}
.section-fonts_update_google .button2 { 
	width: 100%!important;
	height: 27px!important; 
	min-width: 0!important; 
	margin-top: 9px;
	cursor: pointer; 
	border-radius: 3px; 
	background-color: #fff; 
	color: #444; 
	border: 1px solid #bbb;
}

/* Import / Export */
.optionsframework-unipress-import-export #optionsframework-submit .button-secondary {
	display: none; 
}

/* Toggles */
.toggle-container { 
	overflow: hidden;
}
.toggle-container .toggle { 
	line-height: 34px; 
	padding: 0 5px; 
	position: relative; 
	display: block; 
	text-decoration: none; 
	border-bottom: 1px solid #e0e0e0; 
	background: #fcfcfc; 
	outline: none; 
}
.toggle-container .toggle.selected span { 
	color: #d54e21; 
}
.toggle-container .toggle:active,
.toggle-container .toggle:focus { 
	color: #21759B; 
}
.toggle-container .toggle .toggle-sign { 
	position: absolute; 
	top: 10px; 
	left: 10px; 
	font-size: 14px; 
	line-height: 14px; 
	margin: 0 5px 0 0; 
	padding: 0 2px 0 2px; 
	width: 11px; 
	text-align: center; 
	font-weight: bold; 
}
.toggle-container .toggle .toggle-title { 
	font-size: 12px;
	line-height: 34px;
	margin-left: 25px;
}
.toggle-container .toggle span { 
	display: inline-block;
}
.toggle-container .toggle-content { 
	padding: 0;
}
#optionsframework .toggle-content { 
	padding: 10px 0 ;
	border-bottom: 1px solid #e0e0e0;
}
#optionsframework .toggle-content .section { 
	border-bottom: 0;
	padding-bottom: 8px!important;
	padding-top: 8px!important;
}

/* HSL */
#optionsframework .section.hsl {
	padding: 13px 13px 7px;
	position: relative;
}
#optionsframework .section.hsl .heading {
	margin-left: 65px;
}
.of-color-hsl .wp-picker-container {
	margin-top: -22px;
}
.of-color-hsl .wp-color-result { 
	width: 50px;
	height: 50px;
	padding: 0;
	border-width: 0;
	top: 0;
	outline: 0;
	border: 3px solid rgba(0,0,0,.2);
}
.of-color-hsl .wp-color-result.wp-picker-open {
	top: 0;
}
.of-color-hsl .wp-color-result:after {
	display: none;
}
.of-color-hsl .wp-color-result:focus {
	box-shadow: none;
}
.of-color.hsl {
	display: block!important;
	position: absolute;
	top: 37px;
	left: 77px;
}
.of-color-hsl .wp-picker-input-wrap .button { 
	display: block!important;
	height: 30px;
	position: absolute;
	top: 38px;
	left: 157px;
}
.of-color-checkbox {
	position: absolute;
	right: 157px;
	top: 33px;
}
#optionsframework .section.hsl .explain {
	position: absolute;
	top: 38px;
	left: 227px;
}
#hsl-wrapper {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 40px;
	width: 110px;
	padding: 20px 0 0 26px;
	border-left: 1px solid #ccc;
	background-color: #fff;
	z-index: 10;
}
#hsl-wrapper span {
	display: block;
	font-weight: bold;
	margin-bottom: 10px;
	margin-left: 1px;
}
#slider-h,
#slider-s,
#slider-l { 
	height: 300px; 
	float: left; 
	margin-right: 23px; 
	margin-bottom: 20px; 
}
/* jQuery UI Slider (here to maintain compatibility and to not override the WP color picker) */
#hsl-wrapper .ui-slider { 
	position: relative; 
	text-align: left; 
}
#hsl-wrapper .ui-slider .ui-slider-handle { 
	position: absolute; 
	z-index: 2; 
	width: 15px; 
	height: 15px; 
	cursor: pointer; 
	background-color: #ddd; 
	border: 1px solid #aaa; 
	border-radius: 4px; 
}
#hsl-wrapper .ui-slider .ui-slider-range { 
	position: absolute; 
	z-index: 1; 
	font-size: .7em; 
	display: block; 
	border: 0; 
	background-position: 0 0; 
}
#hsl-wrapper .ui-slider-vertical { 
	width: .8em; 
	height: 300px; 
	border-radius: 4px; 
}
#hsl-wrapper .ui-slider-vertical .ui-slider-handle { 
	left: -.3em; 
	margin-left: 0; 
	margin-bottom: -.6em; 
}
#hsl-wrapper .ui-slider-vertical .ui-slider-range { 
	left: 0; 
	width: 100%; 
}
#hsl-wrapper .ui-slider-vertical .ui-slider-range-min { 
	bottom: 0; 
}
#hsl-wrapper .ui-slider-vertical .ui-slider-range-max { 
	top: 0; 
}
#hsl-wrapper .ui-widget-content { 
	border: 1px solid #aaa; 
	background-color: #fff; 
}
#hsl-wrapper .ui-widget-header { 
	border: 1px solid #aaa; 
	background-color: #ccc; 
}